<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Prueba sectores</h1>
    <h2>Lista de Sectores</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sector : ${listaSectores}">
                <td th:text="${sector.id}"></td>
                <td th:text="${sector.localizacion}"></td>
                <td th:text="${sector.precio}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>